In [3]:
import pickle
import pandas as pd
import glob, os

from pandas.api.types import is_string_dtype

In [35]:
def get_datasets_path(datasets_path, find_by):
    datasets_path_dict = {}
    for root, dirs, files in os.walk(datasets_path):
        for file in files:
            if file.endswith(find_by):
                path = os.path.join(root, file)
                uuid = path.split("/")[-1].split(".")[0]
                datasets_path_dict[uuid] = path
    return datasets_path_dict

def read_dataset(path):
    with open(path, 'rb') as picklefile:
        dataset = pickle.load(picklefile)
    return dataset

def get_meta_information(dataset_path):
    dataset_id = int(dataset_path.split("/")[-1].split("_")[-1].split(".")[0])
    print(f"Metadata for: dataset_{dataset_id} ... ")
    df, df_class, check, features = read_dataset(dataset_path)

    number_of_features = df.shape[1]
    number_of_exemples = df.shape[0]
    number_of_class = len(df_class.unique())
    
    minority = round(100*df_class.value_counts(sort=True, ascending=True).iloc[0]/number_of_exemples, 2)
    majority = round(100*df_class.value_counts(sort=True, ascending=False).iloc[0]/number_of_exemples, 2)

    # check = [is_string_dtype(df.iloc[i]) or isinstance(df.dtypes[i], pd.CategoricalDtype) for i in range(number_of_features)]
    categorical_features = sum(check)
    numerical_features = categorical_features - number_of_features
    
    print("\r [Done]")

    return {
        "OpenML ID": dataset_id,
        "Number of Examples": number_of_exemples,
        "Number of Features": number_of_features,
        "Number of Categorical Features": categorical_features,
        "Number of class": number_of_class,
        "Majority Class %": majority,
        "Minority Class %": minority
    }

In [5]:
datasets_parh = get_datasets_path("../../../datasets/", ".pkl")
get_meta_information(datasets_parh["dataset_24"])

Metadata for:  ../../../datasets/training/dataset_24.pkl  ...
 [Done]

{'Number of Examples': 8124,
 'Number of Features': 22,
 'Number of Categorical Features': 22,
 'Number of class': 2,
 'Majority Class %': 51.8,
 'Minority Class %': 48.2}

In [6]:
df = pd.read_csv("../pipeline_experiment_result.csv")
df

/tmp/ipykernel_223984/2620244375.py:1: DtypeWarning: Columns (19,20,60,200,201) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../pipeline_experiment_result.csv")

,seed_i,config_id,fold,config_hash,duration,start_time,end_time,status,seed,budget,...,classifier:sgd:power_t,feature_preprocessor:nystroem_sampler:coef0,feature_preprocessor:nystroem_sampler:degree,classifier:multinomial_nb:alpha,classifier:multinomial_nb:fit_prior,classifier:sgd:l1_ratio,dataset,data_preprocessor:feature_type:categorical_transformer:categorical_encoding:__choice__,data_preprocessor:feature_type:categorical_transformer:category_coalescence:__choice__,data_preprocessor:feature_type:categorical_transformer:category_coalescence:minority_coalescer:minimum_fraction
0,0,0,1,34a76cf2da6c41f8646867818eea56d6,1.913694,1.680580e+09,1.680580e+09,StatusType.SUCCESS,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,dataset_40985,NaN,NaN,NaN
1,0,0,2,34a76cf2da6c41f8646867818eea56d6,1.911491,1.680580e+09,1.680580e+09,StatusType.SUCCESS,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,dataset_40985,NaN,NaN,NaN
2,0,0,3,34a76cf2da6c41f8646867818eea56d6,2.011853,1.680580e+09,1.680580e+09,StatusType.SUCCESS,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,dataset_40985,NaN,NaN,NaN
3,0,0,4,34a76cf2da6c41f8646867818eea56d6,2.025221,1.680580e+09,1.680580e+09,StatusType.SUCCESS,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,dataset_40985,NaN,NaN,NaN
4,0,0,5,34a76cf2da6c41f8646867818eea56d6,2.001899,1.680580e+09,1.680580e+09,StatusType.SUCCESS,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,dataset_40985,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037065,0,499,6,19a650aed428ed8e5fe1619c61bc7118,6.627506,1.680869e+09,1.680869e+09,StatusType.SUCCESS,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,dataset_1161,NaN,NaN,NaN
1037066,0,499,7,19a650aed428ed8e5fe1619c61bc7118,6.571584,1.680869e+09,1.680869e+09,StatusType.SUCCESS,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,dataset_1161,NaN,NaN,NaN
1037067,0,499,8,19a650aed428ed8e5fe1619c61bc7118,6.475392,1.680869e+09,1.680869e+09,StatusType.SUCCESS,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,dataset_1161,NaN,NaN,NaN
1037068,0,499,9,19a650aed428ed8e5fe1619c61bc7118,6.478533,1.680869e+09,1.680869e+09,StatusType.SUCCESS,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,dataset_1161,NaN,NaN,NaN
1037069,0,499,10,19a650aed428ed8e5fe1619c61bc7118,6.529982,1.680869e+09,1.680869e+09,StatusType.SUCCESS,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,dataset_1161,NaN,NaN,NaN

In [36]:
datasets = df["dataset"].unique()
meta_information = [get_meta_information(datasets_parh[i]) for i in datasets]

Metadata for: dataset_40985 ...
 [Done]
Metadata for: dataset_1501 ...
 [Done]
Metadata for: dataset_1479 ...
 [Done]
Metadata for: dataset_1530 ...
 [Done]
Metadata for: dataset_40680 ...
 [Done]
Metadata for: dataset_1480 ...
 [Done]
Metadata for: dataset_151 ...
 [Done]
Metadata for: dataset_1528 ...
 [Done]
Metadata for: dataset_311 ...
 [Done]
Metadata for: dataset_949 ...
 [Done]
Metadata for: dataset_934 ...
 [Done]
Metadata for: dataset_40691 ...
 [Done]
Metadata for: dataset_1532 ...
 [Done]
Metadata for: dataset_1146 ...
 [Done]
Metadata for: dataset_742 ...
 [Done]
Metadata for: dataset_886 ...
 [Done]
Metadata for: dataset_728 ...
 [Done]
Metadata for: dataset_737 ...
 [Done]
Metadata for: dataset_1553 ...
 [Done]
Metadata for: dataset_1053 ...
 [Done]
Metadata for: dataset_40704 ...
 [Done]
Metadata for: dataset_1116 ...
 [Done]
Metadata for: dataset_37 ...
 [Done]
Metadata for: dataset_837 ...
 [Done]
Metadata for: dataset_40705 ...
 [Done]
Metadata for: dataset_6 ...
 [Done]
Metadata for: dataset_937 ...
 [Done]
Metadata for: dataset_841 ...
 [Done]
Metadata for: dataset_1536 ...
 [Done]
Metadata for: dataset_60 ...
 [Done]
Metadata for: dataset_950 ...
 [Done]
Metadata for: dataset_1471 ...
 [Done]
Metadata for: dataset_30 ...
 [Done]
Metadata for: dataset_735 ...
 [Done]
Metadata for: dataset_839 ...
 [Done]
Metadata for: dataset_4134 ...
 [Done]
Metadata for: dataset_182 ...
 [Done]
Metadata for: dataset_40927 ...
 [Done]
Metadata for: dataset_470 ...
 [Done]
Metadata for: dataset_41988 ...
 [Done]
Metadata for: dataset_41146 ...
 [Done]
Metadata for: dataset_41150 ...
 [Done]
Metadata for: dataset_826 ...
 [Done]
Metadata for: dataset_41163 ...
 [Done]
Metadata for: dataset_11 ...
 [Done]
Metadata for: dataset_1538 ...
 [Done]
Metadata for: dataset_41145 ...
 [Done]
Metadata for: dataset_930 ...
 [Done]
Metadata for: dataset_1068 ...
 [Done]
Metadata for: dataset_757 ...
 [Done]
Metadata for: dataset_1466 ...
 [Done]
Metadata for: dataset_1044 ...
 [Done]
Metadata for: dataset_42 ...
 [Done]
Metadata for: dataset_1502 ...
 [Done]
Metadata for: dataset_40648 ...
 [Done]
Metadata for: dataset_1063 ...
 [Done]
Metadata for: dataset_41084 ...
 [Done]
Metadata for: dataset_1462 ...
 [Done]
Metadata for: dataset_1478 ...
 [Done]
Metadata for: dataset_44 ...
 [Done]
Metadata for: dataset_23380 ...
 [Done]
Metadata for: dataset_40693 ...
 [Done]
Metadata for: dataset_871 ...
 [Done]
Metadata for: dataset_1056 ...
 [Done]
Metadata for: dataset_951 ...
 [Done]
Metadata for: dataset_1503 ...
 [Done]
Metadata for: dataset_734 ...
 [Done]
Metadata for: dataset_1120 ...
 [Done]
Metadata for: dataset_40646 ...
 [Done]
Metadata for: dataset_1459 ...
 [Done]
Metadata for: dataset_181 ...
 [Done]
Metadata for: dataset_1481 ...
 [Done]
Metadata for: dataset_185 ...
 [Done]
Metadata for: dataset_1496 ...
 [Done]
Metadata for: dataset_300 ...
 [Done]
Metadata for: dataset_799 ...
 [Done]
Metadata for: dataset_451 ...
 [Done]
Metadata for: dataset_1128 ...
 [Done]
Metadata for: dataset_40900 ...
 [Done]
Metadata for: dataset_40677 ...
 [Done]
Metadata for: dataset_40923 ...
 [Done]
Metadata for: dataset_40706 ...
 [Done]
Metadata for: dataset_188 ...
 [Done]
Metadata for: dataset_469 ...
 [Done]
Metadata for: dataset_1457 ...
 [Done]
Metadata for: dataset_940 ...
 [Done]
Metadata for: dataset_947 ...
 [Done]
Metadata for: dataset_1142 ...
 [Done]
Metadata for: dataset_923 ...
 [Done]
Metadata for: dataset_40496 ...
 [Done]
Metadata for: dataset_40668 ...
 [Done]
Metadata for: dataset_1069 ...
 [Done]
Metadata for: dataset_24 ...
 [Done]
Metadata for: dataset_722 ...
 [Done]
Metadata for: dataset_40649 ...
 [Done]
Metadata for: dataset_1542 ...
 [Done]
Metadata for: dataset_41986 ...
 [Done]
Metadata for: dataset_881 ...
 [Done]
Metadata for: dataset_41144 ...
 [Done]
Metadata for: dataset_981 ...
 [Done]
Metadata for: dataset_41082 ...
 [Done]
Metadata for: dataset_41162 ...
 [Done]
Metadata for: dataset_727 ...
 [Done]
Metadata for: dataset_833 ...
 [Done]
Metadata for: dataset_41982 ...
 [Done]
Metadata for: dataset_920 ...
 [Done]
Metadata for: dataset_725 ...
 [Done]
Metadata for: dataset_1590 ...
 [Done]
Metadata for: dataset_40994 ...
 [Done]
Metadata for: dataset_307 ...
 [Done]
Metadata for: dataset_41972 ...
 [Done]
Metadata for: dataset_1483 ...
 [Done]
Metadata for: dataset_1510 ...
 [Done]
Metadata for: dataset_4534 ...
 [Done]
Metadata for: dataset_1130 ...
 [Done]
Metadata for: dataset_40922 ...
 [Done]
Metadata for: dataset_57 ...
 [Done]
Metadata for: dataset_310 ...
 [Done]
Metadata for: dataset_40672 ...
 [Done]
Metadata for: dataset_184 ...
 [Done]
Metadata for: dataset_1507 ...
 [Done]
Metadata for: dataset_1046 ...
 [Done]
Metadata for: dataset_1494 ...
 [Done]
Metadata for: dataset_715 ...
 [Done]
Metadata for: dataset_46 ...
 [Done]
Metadata for: dataset_41990 ...
 [Done]
Metadata for: dataset_1134 ...
 [Done]
Metadata for: dataset_40701 ...
 [Done]
Metadata for: dataset_40966 ...
 [Done]
Metadata for: dataset_770 ...
 [Done]
Metadata for: dataset_6332 ...
 [Done]
Metadata for: dataset_41989 ...
 [Done]
Metadata for: dataset_2 ...
 [Done]
Metadata for: dataset_1529 ...
 [Done]
Metadata for: dataset_40983 ...
 [Done]
Metadata for: dataset_40536 ...
 [Done]
Metadata for: dataset_40499 ...
 [Done]
Metadata for: dataset_333 ...
 [Done]
Metadata for: dataset_752 ...
 [Done]
Metadata for: dataset_761 ...
 [Done]
Metadata for: dataset_1541 ...
 [Done]
Metadata for: dataset_375 ...
 [Done]
Metadata for: dataset_750 ...
 [Done]
Metadata for: dataset_802 ...
 [Done]
Metadata for: dataset_901 ...
 [Done]
Metadata for: dataset_1487 ...
 [Done]
Metadata for: dataset_825 ...
 [Done]
Metadata for: dataset_15 ...
 [Done]
Metadata for: dataset_23381 ...
 [Done]
Metadata for: dataset_40670 ...
 [Done]
Metadata for: dataset_334 ...
 [Done]
Metadata for: dataset_1491 ...
 [Done]
Metadata for: dataset_1233 ...
 [Done]
Metadata for: dataset_40647 ...
 [Done]
Metadata for: dataset_40982 ...
 [Done]
Metadata for: dataset_40650 ...
 [Done]
Metadata for: dataset_458 ...
 [Done]
Metadata for: dataset_847 ...
 [Done]
Metadata for: dataset_40978 ...
 [Done]
Metadata for: dataset_42206 ...
 [Done]
Metadata for: dataset_32 ...
 [Done]
Metadata for: dataset_40971 ...
 [Done]
Metadata for: dataset_1547 ...
 [Done]
Metadata for: dataset_819 ...
 [Done]
Metadata for: dataset_155 ...
 [Done]
Metadata for: dataset_772 ...
 [Done]
Metadata for: dataset_1535 ...
 [Done]
Metadata for: dataset_554 ...
 [Done]
Metadata for: dataset_42343 ...
 [Done]
Metadata for: dataset_23 ...
 [Done]
Metadata for: dataset_846 ...
 [Done]
Metadata for: dataset_335 ...
 [Done]
Metadata for: dataset_1475 ...
 [Done]
Metadata for: dataset_42345 ...
 [Done]
Metadata for: dataset_41147 ...
 [Done]
Metadata for: dataset_279 ...
 [Done]
Metadata for: dataset_803 ...
 [Done]
Metadata for: dataset_903 ...
 [Done]
Metadata for: dataset_936 ...
 [Done]
Metadata for: dataset_1039 ...
 [Done]
Metadata for: dataset_1049 ...
 [Done]
Metadata for: dataset_40498 ...
 [Done]
Metadata for: dataset_1485 ...
 [Done]
Metadata for: dataset_740 ...
 [Done]
Metadata for: dataset_4538 ...
 [Done]
Metadata for: dataset_717 ...
 [Done]
Metadata for: dataset_821 ...
 [Done]
Metadata for: dataset_4541 ...
 [Done]
Metadata for: dataset_42193 ...
 [Done]
Metadata for: dataset_41671 ...
 [Done]
Metadata for: dataset_897 ...
 [Done]
Metadata for: dataset_884 ...
 [Done]
Metadata for: dataset_1531 ...
 [Done]
Metadata for: dataset_28 ...
 [Done]
Metadata for: dataset_1509 ...
 [Done]
Metadata for: dataset_40645 ...
 [Done]
Metadata for: dataset_50 ...
 [Done]
Metadata for: dataset_377 ...
 [Done]
Metadata for: dataset_807 ...
 [Done]
Metadata for: dataset_1166 ...
 [Done]
Metadata for: dataset_1050 ...
 [Done]
Metadata for: dataset_823 ...
 [Done]
Metadata for: dataset_41160 ...
 [Done]
Metadata for: dataset_26 ...
 [Done]
Metadata for: dataset_1549 ...
 [Done]
Metadata for: dataset_1515 ...
 [Done]
Metadata for: dataset_41991 ...
 [Done]
Metadata for: dataset_816 ...
 [Done]
Metadata for: dataset_1497 ...
 [Done]
Metadata for: dataset_1552 ...
 [Done]
Metadata for: dataset_1161 ...
 [Done]

In [39]:
meta_information_df = pd.DataFrame(meta_information).sort_values(by="OpenML ID", ascending=True)
meta_information_df

,OpenML ID,Number of Examples,Number of Features,Number of Categorical Features,Number of class,Majority Class %,Minority Class %
132,2,898,38,32,5,76.17,0.00
25,6,20000,16,0,26,4.07,3.67
44,11,625,4,0,3,46.08,7.84
147,15,699,9,0,2,65.52,34.48
169,23,1473,9,7,3,42.70,22.61
...,...,...,...,...,...,...,...
206,41991,270912,784,0,49,2.58,0.17
188,42193,5278,13,6,2,52.96,47.04
159,42206,595212,37,25,2,96.36,3.64
168,42343,82318,477,136,2,88.23,11.77
173,42345,70340,20,19,3,48.88,4.98

In [40]:
meta_information_df.to_csv("datasets_meta_data.csv")